apiVersion: v1
kind: Service
metadata:
  name: huginn
  namespace: default
  labels:
    app.kubernetes.io/name: huginn
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: huginn
